/* värit */
body {background-color: #F5E6D6;
    color: #3B2418;
}
main {background-color: #CF9638;
}
header {background-color:#3B2418;
        color: #F5E6D6;
    }
footer {background-color: #3B2418;
        color: #F5E6D6;
    }
nav a {color: #F5E6D6;
}

/* fontit */
body {font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
}

/* tekstien sijoittelu */
main {text-align: center;
    padding: 64px 32px;
}
header {text-align: right;
}
footer {text-align: center;
}
nav li {display: inline-block;
}

/* marginaalit */
main {margin: 32px
}
body {margin: 0
}
header {padding: 12px 32px
}
footer {padding: 16px;
}
/* etusivun "katso tuotteet" -linkki"*/
main a {display: inline-block;
        margin-top: 16px;
        padding: 8px 24px;}

/* reunusten tyylit tähän alle - tämä kesken */

