/* värit */
body {background-color: #F5E6D6;
    color: #3B2418;
}
main {background-color: #CF9638;
}
header {background-color:#3B2418;
        color: #8A5A2B;
    }
footer {background-color: #3B2418;
        color: #8A5A2B;}

/* fontit */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3 rem;
}

/* tekstien sijoittelu */
main {text-align: center;
}
header {text-align: right;
}
footer {text-align: center;
}


/* marginaalit */


/* reunukset */
